<div class="container">
  <div class="wrapper">
    <div class="story-info">
      <div class="story">
        <h1>The Story Title</h1>
        <p class="preview">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime corporis eius quisquam non animi ipsa at quasi molestiae delectus aut.</p>
        <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa quae quaerat voluptate quis voluptates totam placeat ad nulla incidunt, possimus quos tenetur hic reprehenderit dicta officia eius eaque minus, adipisci explicabo! Inventore itaque nesciunt a, dolor necessitatibus, incidunt autem distinctio sunt corporis explicabo expedita saepe odio ipsam modi minima maiores. ipsum dolor sit, amet consectetur adipisicing elit. Culpa quae quaerat voluptate quis voluptates totam placeat ad nulla incidunt, possimus quos tenetur hic reprehenderit dicta officia eius eaque minus, adipisci explicabo!</p>
      </div>
    </div>
    <div class="similar-stories">
      <h3>More Stories from Donatus</h3>
      <app-story></app-story>
    </div>
  </div>
</div>