.story {
  width: 380px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 02px 02px 5px 3px rgba(138, 159, 193, 0.14);
  margin-bottom: 25px;
  position: relative;
}

.dots {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.dots .dot{
  width: 4px;
  height: 4px;
  margin-bottom: 4px;
  border-radius: 50%;
  background-color: #B6B4B5;
}

.details {
  width: 150px;
  min-height: 150px;
  background-color: rgb(202, 177, 177);
  border-radius: 4px;
  padding: 10px;
  /* box-shadow: 02px 02px 5px 3px rgba(138, 159, 193, 0.14); */
  position: absolute;
  top: 10px;
  right: 14px;
  z-index: 5;
}

.details li {
  color: whitesmoke;
  font-size: 16px;
  padding: 7px 9px;
  cursor: pointer;
  transition: background-color .3s ease;
}

.details li:hover {
  background-color: rgb(167, 139, 139);
  border-radius: 4px;
}

h2 {
  color: teal;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
}

p {
  font-size: 17px;
  color: #333;
  text-align: left;
  margin-bottom: 15px;
}

.read-more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid rgb(221, 206, 206);
  padding: 20px 0;
  margin-top: 20px;
}

h5 {
  font-size: 17px;
  font-weight: 500;
  color: rgb(134, 134, 173);
}

a {
  display: inline-block;
  background-color: teal;
  border-radius: 100px;
  padding: 10px 15px;
  color: whitesmoke;
  cursor: pointer;
  transition: transform .3s ease;
}

a:hover, 
a:active {
  transform: translateY(-4px);
  background-color: rgb(12, 133, 133);
}


/* MOBILE VIEW */
@media (max-width: 500px) {
  .story {
    width: 100%;
    margin-right: 0;
    flex: 1;
    margin-bottom: 10px;
    box-shadow: 02px 02px 5px 3px rgba(138, 159, 193, 0.14);
  }
}